@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gentium Book Plus', serif;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
h1{
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), -2px -2px 3px rgba(255, 0, 0, 0.5);
      
}
.chart-container {
    max-width: 600px;
    background-color: azure;
    border-radius: 10px;
    padding: 15px;
    animation: pulse 1.5s ease-in-out infinite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#myChart {
    height: 500px;
    width: 600px;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }